extends layout

block scripts
  script(src='javascripts/robbie.js')
  script(src='javascripts/underscore.js')
  script(src='javascripts/tth_.js')
  script(src='socket.io/socket.io.js')
  script(type='text/javascript')
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
    });
block content
  canvas(width="600",height="600",id="board",onclick="javascript: clickHandler(event);")