doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='/javascripts/underscore.js')
      script(src='/javascripts/tth_.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  
  block content