doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      script(src='/javascripts/underscore.js')
      script(src='/javascripts/tth_.js')
      script(src='/javascripts/jquery.min.js')
  
  block content

  a(href='http://brightbox.com')
    img(src='http://brightbox.com/images/misc/logo.png')
  p Powered by Brightbox