extends ../layout
block content
  body(onload='robbie()')
    script(src='/javascripts/robbie/simulation.js')
    script(src='/javascripts/robbie/hoipe.js')
    canvas(width="600",height="600",id="board")
    #stats
      
