extends ../layout

block content
  body 
    script(src='/socket.io/socket.io.js')
    script(src="/javascripts/robbie/simulation.js")
    script(src="/javascripts/robbie/evolve.js")
    canvas(width="600",height="600",id="board")
    #stats
      | Workers:
      span#connected 0
      | Fitnes:
      span#fittest-dna 0
      | Uptime:
      span#uptime 0
    #fittest-fitness sdkgmsojkgnfdijgndfskjgndfgiondfiogjnfdiogudfgiujn