extends ../layout

block content
  script(src='/socket.io/socket.io.js')
  script(src="/javascripts/robbie/simulation.js")

  :coffeescript
    for i in [0]
      worker = new Worker("/javascripts/robbie/worker.js");
      worker.postMessage("");
      worker.onmessage = (message) ->
        console.log(message)
        


  canvas(width="600",height="600",id="board")